@tailwind base;
@tailwind components;
@tailwind utilities;

html.theme-yellow {
  --theme-color: 249 204 63;
}
html.theme-skyblue {
  --theme-color: 56 189 248;
}
html.theme-emerald {
  --theme-color: 52 211 153;
}

@layer base {
  html {
    color-scheme: dark;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: pretty;
  }
}

.toast {
  @apply !rounded !border !border-theme/10 !bg-slate-main !text-white before:absolute before:inset-0 before:-z-[1] before:rounded before:bg-gradient-to-t from-theme/5;
}
