@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --brand-color: 249 204 63;
    /* --brand-color: 139 232 229; */
    color-scheme: dark;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
}
